<head>
<title>Scraper scripts</title>
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<body>
<div class="container">
    {% csrf_token %}
    {% block page_header %}{% endblock %}
    {% block add_website_modal %}{% endblock %}
    {% block delete_confirm_modal %}{% endblock %}
    {% block scraper_settings_modal %}{% endblock %}
    {% block websites_table %}{% endblock %}
    <div class="col-xs-12 col-sm-12 navigation-control" style="margin-bottom: 20px;">
        {% block progress_bar %}{% endblock %}
        <div>
            {% block add_button %}{% endblock %}
            {% block delete_button %}{% endblock %}
            {% block scraper_settings_button %}{% endblock %}
            {% block start_stop_buttons%}{% endblock %}
        </div>
    </div>
    <script>
$(document).ready(function() {
{% block modal_buttons_handlers %}{% endblock %}
{% block table_scripts %}{% endblock %}
    function update_status(in_progress, messages, result_files){
      if (in_progress) {
        $('#start_button').prop('disabled', true);
        $('#results_button').prop('disabled', true);
        $('#scrapers').prop( "disabled", true);
        $('.progress').show()
      }
      else {
        $('#start_button').prop('disabled', false);
        $('#results_button').prop('disabled', false);
        $('#scrapers').prop( "disabled", false);
        $('.progress').hide()
      }
      if (messages !== null){
        $('#logs').append(messages);
      }
      $('.list-group-item').remove();

      for (var i=0; i < result_files.length; i++){
        if (i == 0) {
           $("#filesList").append('<a href="#" class="list-group-item active">'+result_files[i]+'</a>');
        }
        else {
           $("#filesList").append('<a href="#" class="list-group-item">'+result_files[i]+'</a>');
        }
      }

      $('.list-group-item').click(function() {
        var $this = $(this);

        $('.active').removeClass('active');
        $this.toggleClass('active')
      })
    }


});
</script>
</div>
</body>
</head>