{% extends "base_modals.html" %}

{% block websites_table %}
<table class="table" id="websites_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>URL</th>
      <th>Total products</th>
      <th>Last update</th>
      <th>Last status</th>
      <th>State</th>
      <th>Select</th>
    </tr>
  </thead>
  <tbody>
{% for website in website_list %}
    <tr id="{{ website.id }}">
      <td id="name">{{ website.name }}</td>
      <td id="url">{{ website.url }}</td>
      <td id="total_products">{{ website.total_products }}</td>
      <td id="last_update_date">{{ website.last_update_date }}</td>
      <td id="last_status">{{ website.last_status }}</td>
      <td id="state">None</td>
      <td id="select">
        <div class="checkbox">
          <input id="select_checkbox" type="checkbox" value="{{ website.id }}">
        </div>
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}

{% block table_scripts %}
  $('.checkbox').change(function(){
      var checkbox_list = $(":checkbox");
      var is_checked = false;
      for (var i=0; i < checkbox_list.length; i++){
        if(checkbox_list[i].checked){
          is_checked = true;
        }
      }
      if (is_checked)
        $('#delete_button').prop('disabled', false);
      else
        $('#delete_button').prop('disabled', true);
  });

  $("#start_scraper").click(function(event){
    setDisable();
    var csrf = $('input[name="csrfmiddlewaretoken"]').val();
    $.ajax({
         type:"POST",
         url:"start/",
         data: {
            'csrfmiddlewaretoken': csrf,
         },
    });
  });

  $("#stop_scraper").click(function(event){
    setEnable();
    var csrf = $('input[name="csrfmiddlewaretoken"]').val();
    $.ajax({
         type:"POST",
         url:"stop/",
         data: {
            'csrfmiddlewaretoken': csrf,
         },
    });
  });
{% endblock %}