<head>
<title>Scraper scripts</title>
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<body>
<div class="container">
    {% csrf_token %}
    {% block page_header %}{% endblock %}
    {% block add_website_modal %}{% endblock %}
    {% block delete_confirm_modal %}{% endblock %}
    {% block scraper_settings_modal %}{% endblock %}
    {% block websites_table %}{% endblock %}
    <div class="col-xs-12 col-sm-12 navigation-control" style="margin-bottom: 20px;">
        {% block progress_bar %}{% endblock %}
        <div>
            {% block add_button %}{% endblock %}
            {% block delete_button %}{% endblock %}
            {% block scraper_settings_button %}{% endblock %}
            {% block start_stop_buttons%}{% endblock %}
        </div>
    </div>
    <script>
$(document).ready(function() {
{% block modal_buttons_handlers %}{% endblock %}
{% block table_scripts %}{% endblock %}

function update_status(is_job_finished, url, success, last_update_date, total_products){
  if (is_job_finished) {
        setEnable();
  }
  else {
        setDisable();
  }
}

function setEnable(){
    var checkbox_list = $(":checkbox");
    var is_checked = false;
    for (var i=0; i < checkbox_list.length; i++){
        if(checkbox_list[i].checked){
          is_checked = true;
        }
      }
    $('#start_scraper').prop('disabled', false);
    $('#stop_scraper').prop('disabled', true);
    $('#add_button').prop( "disabled", false);
    if (is_checked)
        $('#delete_button').prop("disabled", false);
    $('#scraper_settings_button').prop( "disabled", false);
    $('#select_checkbox').prop( "disabled", false);
    $('.progress').hide();
}

function setDisable(){
    $('#start_scraper').prop('disabled', true);
    $('#stop_scraper').prop('disabled', false);
    $('#add_button').prop( "disabled", true);
    $('#delete_button').prop("disabled", true);
    $('#scraper_settings_button').prop( "disabled", true);
    $('#select_checkbox').prop( "disabled", true);
    $('.progress').show()
}

(function get_status() {
      var csrf = $('input[name="csrfmiddlewaretoken"]').val();
      $.ajax({
        type: "POST",
        url: 'status/',
        data: {'csrfmiddlewaretoken': csrf },
        success: function(data) {
          var is_job_finished = data['is_job_finished']
          var url = data['url']
          var success = data['success']
          var last_update_date = data['last_update_date']
          var total_products = data['total_products']
          update_status(is_job_finished, url, success, last_update_date, total_products)
        },
        complete: function() {
          setTimeout(get_status, 5000);
        }
      });
})();

});
</script>
</div>
</body>
</head>