{% extends "base_page_header.html" %}

{% block add_website_modal %}
<div class="modal fade" id="AddWebsiteModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add a Website</h4>
        </div>
        <div class="modal-body">
            <form id="add_website_from">
                <label for="website_name">Website name:</label>
                <div class="input-group-btn">
                    <input id="website_name" type="text" class="form-control" placeholder="Example">
                </div>
                <label for="website_url">Website URL:</label>
                <div class="input-group-btn">
                    <input id="website_url" type="text" class="form-control" placeholder="http://example.com">
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button id="save_website" class="btn btn-size btn-success pull-left">Save</button>
          <button id="cancel_save_website" class="btn btn-size btn-warning pull-right" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block delete_confirm_modal %}
<div class="modal fade" id="DeleteConfirmModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Deleting a Website</h4>
        </div>
        <div class="modal-body">
            <h4>
                You have selected to delete this website(s).
            </h4>
            <h4>
                If this was the action that you wanted to do, please confirm your choice, or cancel and return to the page.
            </h4>
        </div>
        <div class="modal-footer">
          <button id="cancel_delete_website" class="btn btn-size btn-success pull-left" data-dismiss="modal">Cancel</button>
          <button id="delete_website" class="btn btn-size btn-danger pull-right">Delete</button>
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block scraper_settings_modal %}
<div class="modal fade" id="ScraperSettingsModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Scraper settings</h4>
        </div>
        <div class="modal-body">
            <label for="update_period">Update every:</label>
            <select class="form-control" id="update_period">
                <option value="minute">Minute</option>
                <option value="hour">Hour</option>
                <option value="day">Day</option>
                <option value="week">Week</option>
                <option value="month">Month</option>
                <option value="year">Year</option>
            </select>
            <label for="get_proxy_list_api_key">Proxy API key:</label>
            <div class="input-group-btn">
                <input id="get_proxy_list_api_key" type="text" class="form-control" placeholder="3d482b92d5ad93f5f6547e98db9cf977748a4f49">
            </div>
        </div>
        <div class="modal-footer">
          <button id="save_settings" class="btn btn-size btn-success pull-left">Save</button>
          <button id="cancel_save_settings" class="btn btn-size btn-warning pull-right" data-dismiss="modal">Cancel</button>
        </div>
      </div>

    </div>
</div>
{% endblock %}

{% block start_stop_buttons%}
<button id="stop_scraper" class="btn btn-size btn-primary pull-right" style="margin-left:5px;">Stop</button>
<button id="start_scraper" class="btn btn-size btn-primary pull-right" style="margin-left:5px;">Start</button>
{% endblock %}

{% block add_button %}
<button id="add_button" class="btn btn-size btn-primary pull-left" data-toggle="modal" data-target="#AddWebsiteModal">Add</button>
{% endblock %}

{% block delete_button %}
<button id="delete_button" class="btn btn-size btn-danger pull-left" style="margin-left:5px;" data-toggle="modal" data-target="#DeleteConfirmModal">Delete</button>
{% endblock %}

{% block scraper_settings_button %}
<button id="scraper_settings_button" class="btn btn-size btn-primary pull-right" style="margin-left:5px;" data-toggle="modal" data-target="#ScraperSettingsModal">Settings</button>
{% endblock %}

{% block modal_buttons_handlers %}

function isUrlValid(website_url) {
    var res = website_url.match(/(http(s)?:\/\/.)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/g);
    if(res == null)
        return false;
    else
        return true;
}

function isNameValid(website_name) {
    length = website_name.length
    if(length > 0 && website_name)
        return true;
    else
        return false;
}

$("#website_name").on('input', function() {
    var website_name_element = $('#website_name');
    var website_name = website_name_element.val();
    var is_valid_website_name = isNameValid(website_name);
    if (is_valid_website_name)
        website_name_element.closest('.input-group-btn').addClass("has-success").removeClass("has-error");
    else
        website_name_element.closest('.input-group-btn').removeClass("has-success").addClass("has-error");
});

$("#website_url").on('input', function() {
    var website_url_element = $('#website_url');
    var website_url = website_url_element.val();
    var is_valid_website_url = isUrlValid(website_url);
    if (is_valid_website_url)
        website_url_element.closest('.input-group-btn').addClass("has-success").removeClass("has-error");
    else
        website_url_element.closest('.input-group-btn').removeClass("has-success").addClass("has-error");
});

$("#save_website").click(function(event){
    var website_name = $('#website_name').val();
    var website_url = $('#website_url').val();
    if (!isUrlValid(website_url) || !isNameValid(website_name))
        return;
    var csrf = $('input[name="csrfmiddlewaretoken"]').val();
    $.ajax({
         type:"POST",
         url:"add/",
         data: {
                'website_name': website_name,
                'website_url': website_url,
                'csrfmiddlewaretoken': csrf,
                },
         success: function (response) {
            var success = response['success']
            if (!success)
                alert('Website already added!');
            else{
                $('#AddWebsiteModal').modal('hide');
                location.reload();
            }
         }
    });
});

$("#delete_website").click(function(event){
    var ids_to_delete = []
    var csrf = $('input[name="csrfmiddlewaretoken"]').val();
    var checked_list = $('#select input:checked');
    for (var i=0; i < checked_list.length; i++){
        var id_to_delete = checked_list[i].value;
        ids_to_delete.push(id_to_delete)
    }
    $.ajax({
         type:"POST",
         url:"delete/",
         data: {
                'ids_to_delete[]': ids_to_delete,
                'csrfmiddlewaretoken': csrf,
                },
         success: function (response) {
            var success = response['success']
            if (success){
                $('#DeleteConfirmModal').modal('hide');
                location.reload();
            }
            else{
                alert('Something went wrong!');
            }
         }
    });
});


{% endblock %}